.react-calendar__month-view__weekdays {
  background-color: white !important;
}

.react-calendar__tile--now {
  background: #13ade1 !important;
}

.react-calendar__navigation__label {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #828282 !important;
  line-height: 25px !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: #6e7079 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}
